.container {

}

.productCard {
    cursor: pointer;
    width: 250px;
    padding: 10px;
}

.productContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 20px;
    padding: 50px;
}

.productTitle {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.productDescription {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cardFooter {
    text-align: right;
    padding: 10px;
}
